<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nanostores</title>
  </head>
  <body>
    <main class="max-w-4xl mx-auto px-4 py-12 space-y-8">
      <section>
        <a href="/persistent-store" class="rounded-md bg-pink-600 px-3 py-2 text-xl font-semibold text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">
          Persistent Store
        </a>
      </section>
    </main>
  </body>
</html>
